name: Reusable workflow example

on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string
      environ:
        required: false
        type: string
#    secrets:
#      SEC1:
#        required: false      

jobs:
  example_job:
    environment: ${{ inputs.environ }}
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo ${{ inputs.username }}
          echo ${{ inputs.environ }}
          echo $TESTSECRET
        env:
          TESTSECRET: ${{ secrets.SEC1 }}
